<!-- header -->
<%- include('../partials/header') %>

<article>
  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.title %>">
  
  <h1><%= recipe.title %></h1>
  
  <p>Category: <%= recipe.category %></p>
  
  <% if (recipe.tags.length > 0) { %>
    <p>Tags: <%= recipe.tags.join(', ') %></p>
  <% } %>

  <p>By: <a href="/profile/<%= recipe.author.username %>"><%= recipe.author.username %></a></p>
  <p>Posted: <%= recipe.createdAt.toDateString() %></p>

  <div class="recipe-body">
    <%- recipe.description %>
  </div>

  <!-- edit and delete buttons appear iff currently logged in user is recipe's author -->
  <% if (currentUser && recipe.author._id.toString() === currentUser._id.toString()) { %>
    <a href="/recipes/<%= recipe.slug %>/edit">Edit</a>

    <!-- method override -->
    <form action="/recipes/<%= recipe.slug %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  <% } %>
</article>

<!-- footer -->
<%- include('../partials/footer') %>